html, body, .main { 
    height: 100%;
    margin: 0;
 }

 .main {
 	background-color: slategray;
 }

.header {
	background-color: darkslategray;
	height: 15%;
	min-height: 90px;
	font-size: 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}

.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 880px;
	padding-bottom: 40px;
}

.logo h1, .logo h2 {
	font: normal 300% "century gothic", arial, sans-serif;
	margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
	padding: 22px 0 0 0;
	color: #fff;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo_text h2 {
	font-size: 0.9em;
	padding: 4px 0 0 0;
	color: turquoise;
}

.menubar {
	width: 25%;
	height: 85%;
	float: left;	
}

ul.menu {
	float: right;
	width: 150px;
}

ul.menu li{
	float: left;
	list-style: none;
	width: 120px;
	height: 30px;
	margin: 1px 2px 0 0;
}

ul.menu li a {
	font: normal 100% "trebuchet ms", sans-serif;
	display: block;
	height: 25px;
	padding: 5px 5px 5px 5px;
	color:#000;
	text-decoration: none;
}

ul.menu li.selected a {
	color: #ffff66;
}

ul.menu li a:hover {
	color: aquamarine;
}